.white{
    box-shadow: none;
    height: 7em;
    line-height: 7em;
}

.nav-text{
  color: #333;
}
.pink-back{
  background-color: #EE6E73;
  height: 35em;
}

.yellow-back{
  background-color: #FAC05E;
  padding-bottom: 5em;
}
.edu-back{
  background-color: #DDDDDD;
  padding-bottom: 5em;
}
.pro-back{
  background-color: #EEEEEE;
  padding-bottom: 5em;
}

.all-headers{
  margin-top: 3.0em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight:700;
  line-height: 1.4;
  color: #333;
}


.all-texts{
  margin-top: 2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  color: #524e4d;
}
.row{
  margin: 0px;
  padding: 0px;
}

.mst-300{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.mst-700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.skill {
    border: 1px solid #50a9d1;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.project-details{
  padding-bottom: 2em;
  border-bottom: 1px solid white;
}
