
.org-ic{
  margin-right: 2.5em;
  filter: contrast(100);
}
.white{
    box-shadow: none;
    height: 7em;
    line-height: 7em;
}


.nav-text{
  color: #333;
}
.dropdown-content{
  color: #333;
}
.pink-back{
  padding:11em;
  margin-top: 2em;
  background-color: #4C5364;
}
.test{
  font-family: 'Londrina Solid', cursive;
  font-weight: 300
}
.saurabh,.banore{
    font-size: 6em;
    color: white;
}

.hellower{
  font-size: 2em;
  color: white;
}

.brand{
  font-family: 'Lobster', cursive;
  font-size: 1.8em;
  color: #4C5364;
}
.yellow-back{
  background-color: #CACF85;
  padding-bottom: 5em;
}
.edu-back{
  background-color: #EEEEEE;
  padding-bottom: 5em;
}
.pro-back{
  background-color: #DDDDDD;
  padding-bottom: 5em;
}
.skill-back{
  background-color:#DDDDDD;
  padding-bottom: 4em ;
}
.aaa-back{
  background-color:#EEEEEE;
  padding-bottom: 5em ;
}

.all-headers{
  margin-top: 3.0em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight:700;
  line-height: 1.4;
  color: #333;
}


.all-texts{
  margin-top: 2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  color: #524e4d;
}
.row{
  margin: 0px;
  padding: 0px;
}

.mst-300{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.mst-700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.skill {
    border: 1px solid #50a9d1;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.project-details{
  padding-bottom: 2em;
  border-bottom: 1px solid white;
}



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.resume-back{
  padding: 5em;
  background-color: #FED766;
}
.footer-back{
  background-color: #4C5364;
  padding: 2.0em;
}
.resume{
  font-size: 3em;
}
.dn-icon{
  font-size: 10em;
}

.footer-txt{
  color: white;
}


@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: local('Material Icons'), local('MaterialIcons-Regular'), url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
word-wrap: normal;
-webkit-font-feature-settings: 'liga';
-webkit-font-smoothing: antialiased;
}


.material-icons, .icon-text {
  vertical-align: middle;
}

